{
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": true,
  "jsxSingleQuote": true,
  "semi": false,
  "arrowParens": "avoid",

  "plugins": ["@trivago/prettier-plugin-sort-imports"],

  "importOrder": [
    "^@nestjs/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}